{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <h1>Portfolio summary</h1>
  
  <div class="container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Ticker</th>
          <th scope="col">Date</th>
          <th scope="col">Quantity</th>
          <th scope="col">Original value</th>
          <th scope="col">Current value</th>
        </tr>
      </thead>
      <tbody>
        {% for investment in investments %}
        <tr>
          <th scope="row">{{ investment.id }}</th>
          <td>{{ investment.ticker }}</td>
          <td>{{ investment.date }}</td>
          <td>{{ investment.quantity }}</td>
          <td>{{ investment.pricePerUnit|mul:investment.quantity }}</td>
          <td>{{ investment.currentPrice|mul:investment.quantity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href='{% url "stockmanager:addStock" %}' class="btn btn-primary">Add a new stock</a>
  </div>
</body>
</html>